name: Upload to PyPI
on:
  push:
    tags:
      - "*"

  workflow_dispatch:

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.x

      - run: pip install build twine

      - run: python -m build --wheel --sdist

      - uses: actions/upload-artifact@v6.0.0
        with:
          name: release-dists
          path: dist/

  release-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7.0.0
        with:
          name: release-dists
          path: dist/

      - uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          skip-existing: true
